@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code */
:root {
  --white: white;
  --yellowish: #f7eac5;
  --wordHoover: #fce38a;
  --pinky: #f38181;
  --grey: #999999;
  --green: #95e1d3;
}

.cap {
  text-transform: uppercase;
  font-family: "Montserrat bold", sans-serif;
}

.cursive {
  font-family: "Kaushan Script", cursive;
}

.hr-pinky {
  width: 25px;
  border: 1px solid var(--pinky);
  margin: 2rem auto;
}

.banner {
  background-image: url(./images/background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.banner .hd-main {
  width: 62.5%;
  margin: 0 auto;
  color: var(--white);
}

.banner .hd-main header {
  width: 100%;
}

.banner .hd-main header .mogo {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.banner .hd-main header nav a {
  text-decoration: none;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  margin-right: 0.6rem;
}

.banner .hd-main header nav a:hover {
  color: var(--wordHoover);
  border-bottom: 0.9px solid var(--wordHoover);
  padding-bottom: 2px;
}

.banner .hd-main header div {
  display: inline-block;
}

.banner .hd-main header .menu {
  float: right;
  /* kaip be float padaryti, jų lygtais negalima naudoti? */
}

.banner .hd-main .template {
  text-align: center;
  padding-top: 20vh;
  width: 100%;
}

.banner .hd-main .template h3 {
  padding-bottom: 2rem;
  font-size: 3rem;
}

.banner .hd-main .template h1 {
  padding-bottom: 1rem;
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.banner .hd-main .template span {
  display: block;
}

.banner .hd-main .template hr {
  width: 25px;
  /* pagal photoshop paskaiciavus atrodo, kad turėtų būti 60px ant mano ekrano žymiai per didelis*/
  border: 1px solid var(--white);
  margin-bottom: 2rem;
}

.banner .hd-main .template button {
  background: none;
  color: var(--white);
  border: 1px solid var(--white);
  font-size: 0.5rem;
  padding: 0.3rem 0.6rem;
  font-weight: 800;
}

.banner .hd-main .slider {
  font-size: 0;
  position: absolute;
  bottom: 2vh;
  width: 62.5%;
  margin: 0 auto;
}

.banner .hd-main .slider div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 20%;
  font-size: 0.5rem;
  color: var(--yellowish);
  border-top: 1.2px solid var(--yellowish);
  margin: 0 2.5%;
  /* pakeisti kad krastutiniai neturėtu margin */
  padding-top: 0.5rem;
}

.banner .hd-main .slider div span {
  font-weight: bold;
  font-size: 0.6rem;
}

.banner .hd-main .slider div:hover {
  color: var(--white);
  border-top: 1.5px solid var(--white);
  -o-border-image: linear-gradient(to right, var(--pinky) 30%, var(--white) 30%, var(--white) 100%) 5;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(30%, var(--pinky)), color-stop(30%, var(--white)), to(var(--white))) 5;
     border-image: linear-gradient(to right, var(--pinky) 30%, var(--white) 30%, var(--white) 100%) 5;
}

.main {
  width: 62.5%;
  margin: 3rem auto;
  text-align: center;
  font-size: 1.2rem;
}

.main h4 {
  padding: 1rem;
}

.main h3 {
  font-weight: bold;
}

.main p {
  font-family: "Roboto", sans-serif;
  color: var(--grey);
  font-size: 0.7rem;
}

.main .photo {
  margin: 3rem auto;
  white-space: nowrap;
  width: 100%;
}

.main .photo .two {
  margin: 0 1rem;
}

.main .photo .team {
  display: inline-block;
  width: 33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.main .photo .team img {
  width: 100%;
  height: 100%;
}

.main .photo .team .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: var(--white);
  font-size: 0.5rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .photo .team:hover {
  top: -200%;
  left: -1%;
  -webkit-box-shadow: 0.5rem 0.5rem var(--green);
          box-shadow: 0.5rem 0.5rem var(--green);
}

.main .photo .team:hover .text {
  background: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(0deg, #fce38a 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 1;
}

.wrapper {
  background-color: var(--green);
}

.wrapper .statistic {
  width: 62.5%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  white-space: nowrap;
}

.wrapper .statistic div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 20%;
  padding: 2rem 1rem;
}

.wrapper .statistic div .number {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.7rem;
}

.wrapper .statistic div .cap {
  font-size: 0.5rem;
}

.main .icons {
  width: 100%;
  font-size: 0;
}

.main .icons .service {
  display: inline-block;
  width: 33.3%;
  margin-bottom: 2rem;
  text-align: left;
}

.main .icons .service img {
  display: inline-block;
  background-color: var(--green);
  vertical-align: top;
  width: 15%;
  font-size: 1rem;
}

.main .icons .service .text {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  width: 85%;
  font-size: 1rem;
}

.main .icons .service .text h5 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 0.7rem;
}

.main .icons .middle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.main .icons .left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 1rem;
}

.main .icons .right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
}

.design {
  height: 80vh;
  background-color: var(--grey);
  background-image: url(./images/unique_design_bckgr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.design .main {
  padding-top: 3rem;
}
/*# sourceMappingURL=style.css.map */