/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code */
:root {
  --white: white;
  --yellowish: #f7eac5;
  --wordHoover: #fce38a;
  --pinky: #f38181;
  --pinkSeparate: #f9bd87;
  --grey: #999999;
  --green: #95e1d3;
  --darkGrey: #333333;
  --lightGrey: #cccccc;
  --backgroundGrey: #f8f8f8;
}

.cap {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.cursive {
  font-family: "Kaushan Script", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.hr-pinky {
  width: 25px;
  border: 1px solid var(--pinky);
  margin: 2rem auto;
}

// FRONT PAGE

.banner {
  background-image: url(./images/background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  .hd-main {
    width: 62.5%;
    margin: 0 auto;
    color: var(--white);
    header {
      width: 100%;
      margin-top: 1rem;

      .mogo {
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
      }
      nav {
        a {
          text-decoration: none;
          color: var(--white);
          font-family: "Montserrat", sans-serif;
          font-size: 0.5rem;
          margin-right: 0.6rem;
          img {
            height: 0.5rem;
          }
        }

        a:hover {
          color: var(--wordHoover);
          border-bottom: 0.9px solid var(--wordHoover);
          padding-bottom: 2px;
          img {
            filter: invert(95%) sepia(22%) saturate(3622%) hue-rotate(303deg)
              brightness(112%) contrast(121%);
            //neveikia :(
          }
        }
      }
      div {
        display: inline-block;
      }

      .menu {
        float: right;
      }
    }
    .template {
      text-align: center;
      padding-top: 20vh;
      width: 100%;
      h3 {
        padding-bottom: 2rem;
        font-size: 3rem;
      }

      h1 {
        padding-bottom: 1rem;
        font-size: 6rem;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;

        //font weight neveikia jei <=700
      }

      span {
        display: block;
      }

      hr {
        width: 25px;
        /* pagal photoshop paskaiciavus atrodo, kad turėtų būti 60px ant mano ekrano žymiai per didelis*/
        border: 1px solid var(--white);
        margin-bottom: 2rem;
      }

      button {
        background: none;
        color: var(--white);
        border: 1px solid var(--white);
        font-size: 0.5rem;
        padding: 0.3rem 0.6rem;
        font-weight: 800;
      }
    }
    .slider {
      font-size: 0;
      position: absolute;
      bottom: 2vh;
      width: 62.5%;
      margin: 0 auto;

      div {
        box-sizing: border-box;
        display: inline-block;
        width: 20%;
        font-size: 0.5rem;
        color: var(--yellowish);
        border-top: 1.2px solid var(--yellowish);
        margin: 0 2.5%;
        /* pakeisti kad krastutiniai neturėtu margin */
        padding-top: 0.5rem;
        span {
          font-weight: bold;
          font-size: 0.6rem;
        }
      }
      div:hover {
        cursor: pointer;
        color: var(--white);
        border-top: 1.5px solid var(--white);
        border-image: linear-gradient(
            to right,
            var(--pinky) 30%,
            var(--white) 30%,
            var(--white) 100%
          )
          5;
      }
    }
  }
}

// STORY ABOUT US

.main {
  width: 62.5%;
  margin: 3rem auto;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1rem;
  h4 {
    padding: 1rem;
  }
  h3 {
    font-weight: bold;
  }
  p {
    font-family: "Roboto", sans-serif;
    color: var(--grey);
    font-size: 0.7rem;
  }
  .photo {
    margin: 3rem auto;
    white-space: nowrap;
    height: 30vh;
    // height reikia sutvarkyti dar, sumažinus ekraną margin išsikreipia

    .two {
      margin: 0 1rem;
    }

    .team-container {
      display: inline-block;
      width: 33.3%;
      position: relative;

      .team {
        width: 100%;
        // box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, 0%);

        img {
          // aspect-ratio: 1.5;
          width: 100%;
        }
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
          color: var(--white);
          font-size: 0.5rem;
          opacity: 0;
          width: 100%;
          height: 100%;

          //vertical-align: middle;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .team:hover {
        top: 45%;
        left: 45%;
        box-shadow: 0.5rem 0.5rem var(--green);
      }

      .team:hover .text {
        background: linear-gradient(
          0deg,
          rgba(252, 227, 138, 1) 0%,
          rgba(243, 129, 129, 0.9) 100%
        );
        opacity: 1;
      }
    }
  }
}

// GREEN STATISTICS

.wrapper {
  background-color: var(--green);

  .statistic {
    width: 62.5%;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    white-space: nowrap;
    div {
      box-sizing: border-box;
      display: inline-block;
      width: 20%;
      padding: 2rem 1rem;
      .number {
        font-weight: bold;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        padding-bottom: 0.7rem;
      }
      .cap {
        font-size: 0.5rem;
      }
    }
  }
}

// AMAZING SERVICES

.main {
  .icons {
    width: 100%;
    font-size: 0;

    .service {
      display: inline-block;
      width: 33.3%;
      margin-bottom: 2rem;
      text-align: left;

      img {
        display: inline-block;
        vertical-align: top;
        width: 15px;
      }
      .text {
        display: inline-block;
        box-sizing: border-box;
        padding-left: 1rem;
        width: 85%;
        h5 {
          font-weight: bold;
          padding-bottom: 1rem;
          font-size: 0.6rem;
        }
        p {
          font-size: 0.6rem;
          line-height: 1rem;
        }
      }
    }
    .middle {
      box-sizing: border-box;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .left {
      box-sizing: border-box;
      padding-right: 1rem;
    }
    .right {
      box-sizing: border-box;
      padding-left: 1rem;
    }
  }
}

//  UNIQUE DESIGN

.design {
  height: 100vh;
  //background-color: var(--grey);
  background-image: url(./images/unique_design_bckgr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .main {
    padding-top: 3rem;
  }
}

// WHAT WE DO

.what-container {
  width: 100%;
  margin: 3rem auto;
  font-size: 0;
  position: relative;
  height: 45vh; //FIX NEEDED

  .what-photo {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    position: absolute;
    left: 0;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .drop-menu {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 1rem;
    position: absolute;
    overflow: hidden;
    text-align: left;
    .name-section {
      margin-bottom: 0.5rem;
      border: 1px solid var(--lightGrey);
      padding: 0.5rem 0;

      label {
        padding: 0.4rem 0.6rem;
        color: var(--darkGrey);
        font-size: 0.5rem;

        img {
          height: 1rem;
          padding-right: 0.5rem;
          vertical-align: middle;
        }
      }

      p {
        font-size: 0.6rem;
        line-height: 1rem;
        font-style: italic;
        padding: 0.5rem;
      }
      span {
        height: 100%;
        float: right;
        margin-top: 0.2rem;

        img {
          height: 0.5rem;
        }
      }
    }

    .menu-section ul,
    .menu-section input,
    .menu-section .close,
    .menu-section input:checked ~ .open {
      display: none;
    }

    .menu-section input:checked ~ ul,
    .menu-section input:checked ~ .close {
      display: block;
      margin-bottom: 0.5rem;
    }
    .menu-section input:checked ~ .close span {
      transform: rotate(180deg);
      margin-top: 0;
    }
    .menu-section input:checked ~ .close {
      border-bottom: 1px solid var(--lightGrey);
      padding-bottom: 0.5rem;
      padding-top: 0.2rem;
    }

    // ^ paspaudus keičiasi .name-section vieta
  }
}

// SLIDESHOW

.slideshow-container {
  background-color: var(--backgroundGrey);
  width: 100%;
  height: 30vh; //FIX NEEDED

  .slides {
    position: relative;

    .citation-container {
      width: 80%;
      font-size: 0;
      margin: 0 auto;
      position: relative;

      img {
        display: inline-block;

        width: 60px;
        position: absolute;
        left: 0;
        top: 3rem;
      }

      .citation {
        display: inline-block;
        width: 85%;
        font-size: 1rem;
        box-sizing: border-box;
        padding-left: 1rem;
        position: absolute;
        right: 0;
        .cite {
          font-style: italic;
          color: var(--grey);
          margin-top: 3rem;
          text-align: left;
          font-size: 0.8rem;
          line-height: 1.2rem;
          width: 100%;
        }
        .author {
          text-align: left;
          position: relative;
          hr {
            display: inline-block;
            position: absolute;
          }
          div {
            display: inline-block;
            //width: 50%;
            text-align: start;
            position: absolute;
            left: 2.5rem;
            top: 1.5rem;
          }
        }
      }
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      padding-top: 4.5rem;
      color: var(--grey);
      font-size: 1rem;
    }
    .next {
      right: 0;
    }
    .prev {
      left: 0;
    }
  }
}

//MEET OUR TEAM

.team {
  //display: inline-block;

  .meet-us {
    height: 60vh; //FIX NEEDED
    .text-people {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      color: var(--white);
      font-size: 0.5rem;
      width: 100%;
      //height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;

      .social-icons {
        width: 80%;
        font-size: 0;
        border: 0.1px 0 0.1px solid var(--pinky);
        div {
          width: 2rem;
          height: 2rem;
          display: inline-block;
          background-color: var(--wordHoover);
          font-size: 0.6rem;
          box-sizing: border-box;
          padding: 0.5rem;
          border-right: 0.1px solid var(--pinky);

          img {
            width: 1rem;
            aspect-ratio: 1;
            box-sizing: border-box;
            padding: autorem;
          }
          &.insta {
            border: none;
          }
          .fb {
            filter: brightness(0) saturate(100%) invert(80%) sepia(23%)
              saturate(3746%) hue-rotate(304deg) brightness(95%) contrast(101%);
          }
        }
        div:hover {
          background-color: var(--pinky);
          img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
              brightness(203%) contrast(503%);
          }
          .fb {
            filter: invert(57%) sepia(58%) saturate(200%) hue-rotate(312deg)
              brightness(606%) contrast(90%);
          }
        }
      }
    }
  }

  .team:hover .text-people {
    opacity: 1;
  }
}

// SOME OF OUR WORK
.hipster-container {
  margin: 3rem 0;
  background-color: var(--backgroundGrey);
  width: 100%;
  .hipster-logos {
    width: 62.5%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }
}
