@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code */
:root {
  --white: white;
  --yellowish: #f7eac5;
  --wordHoover: #fce38a;
  --pinky: #f38181;
  --pinkSeparate: #f9bd87;
  --grey: #999999;
  --green: #95e1d3;
  --darkGrey: #333333;
  --lightGrey: #cccccc;
  --backgroundGrey: #f8f8f8;
}

.cap {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.cursive {
  font-family: "Kaushan Script", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.hr-pinky {
  width: 50px;
  border: 1px solid var(--pinky);
  margin: 3rem auto;
}

.banner {
  background-image: url(./images/background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.banner .hd-main {
  width: 62.5%;
  margin: 0 auto;
  color: var(--white);
}

.banner .hd-main header {
  width: 100%;
  margin-top: 1rem;
}

.banner .hd-main header .mogo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.banner .hd-main header nav a {
  text-decoration: none;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-left: 1.5rem;
}

.banner .hd-main header nav a img {
  height: 1rem;
}

.banner .hd-main header nav a:hover {
  color: var(--wordHoover);
  border-bottom: 0.9px solid var(--wordHoover);
  padding-bottom: 2px;
}

.banner .hd-main header nav a:hover img {
  -webkit-filter: invert(95%) sepia(22%) saturate(3622%) hue-rotate(303deg) brightness(112%) contrast(121%);
          filter: invert(95%) sepia(22%) saturate(3622%) hue-rotate(303deg) brightness(112%) contrast(121%);
}

.banner .hd-main header div {
  display: inline-block;
}

.banner .hd-main header .menu {
  float: right;
}

.banner .hd-main .template {
  text-align: center;
  padding-top: 20vh;
  width: 100%;
}

.banner .hd-main .template h3 {
  padding-bottom: 2rem;
  font-size: 5rem;
}

@media (max-width: 992px) {
  .banner .hd-main .template h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .banner .hd-main .template h3 {
    font-size: 3rem;
  }
}

.banner .hd-main .template h1 {
  font-size: 9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media (max-width: 992px) {
  .banner .hd-main .template h1 {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .banner .hd-main .template h1 {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .banner .hd-main .template h1 {
    font-size: 4rem;
  }
}

.banner .hd-main .template span {
  display: block;
}

.banner .hd-main .template hr {
  width: 60px;
  /* pagal photoshop paskaiciavus atrodo, kad turėtų būti 60px ant mano ekrano žymiai per didelis*/
  border: 1px solid var(--white);
  margin: 3rem auto;
}

.banner .hd-main .template button {
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  font-weight: 800;
}

.banner .hd-main .slider {
  font-size: 0;
  position: absolute;
  bottom: 2vh;
  width: 62.5%;
  margin: 0 auto;
}

.banner .hd-main .slider div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 20%;
  font-size: 1rem;
  color: var(--yellowish);
  border-top: 2px solid var(--yellowish);
  margin: 0 2.5%;
  /* pakeisti kad krastutiniai neturėtu margin */
  padding-top: 1rem;
}

.banner .hd-main .slider div span {
  font-weight: bold;
  font-size: 1.5rem;
}

.banner .hd-main .slider div:hover {
  cursor: pointer;
  color: var(--white);
  border-top: 2px solid var(--white);
  -o-border-image: linear-gradient(to right, var(--pinky) 30%, var(--white) 30%, var(--white) 100%) 5;
     border-image: -webkit-gradient(linear, left top, right top, color-stop(30%, var(--pinky)), color-stop(30%, var(--white)), to(var(--white))) 5;
     border-image: linear-gradient(to right, var(--pinky) 30%, var(--white) 30%, var(--white) 100%) 5;
}

.main {
  width: 62.5%;
  margin: 3rem auto;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
}

.main h4 {
  padding: 1rem;
}

.main h3 {
  font-weight: bold;
}

.main p {
  font-family: "Roboto", sans-serif;
  color: var(--grey);
  font-size: 1.2rem;
}

.main .photo {
  margin: 3rem auto;
  white-space: nowrap;
}

.main .photo .two {
  margin: 0 2%;
}

@media (max-width: 576px) {
  .main .photo .two {
    margin: 0;
  }
}

.main .photo .team-container {
  display: inline-block;
  width: 31.4%;
  position: relative;
}

@media (max-width: 768px) {
  .main .photo .team-container {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

.main .photo .team-container .team {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.main .photo .team-container .team img {
  width: 100%;
}

.main .photo .team-container .team .text {
  position: absolute;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.main .photo .team-container .team .text img {
  width: 2rem;
  display: block;
  margin: auto auto 2px;
}

.main .photo .team-container .team .text p {
  display: block;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.main .photo .team-container .team .text > div {
  position: absolute;
  top: calc((100% - 31.25px) / 2);
  left: calc((100% - 74.11px) / 2);
}

.main .photo .team-container:hover .team {
  -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
}

.main .photo .team-container:hover .team .text {
  background: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(0deg, #fce38a 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 1;
}

.main .photo .team-container:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--green);
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
}

.wrapper {
  background-color: var(--green);
  margin-top: 5rem;
}

.wrapper .statistic {
  width: 62.5%;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  white-space: nowrap;
}

.wrapper .statistic div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 20%;
  padding: 3rem 1rem;
}

.wrapper .statistic div .number {
  font-weight: bold;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.7rem;
}

.wrapper .statistic div .cap {
  font-size: 0.7rem;
}

.main .icons {
  width: 100%;
  font-size: 0;
}

.main .icons .service {
  display: inline-block;
  width: 30%;
  margin-bottom: 2rem;
  text-align: left;
  vertical-align: top;
}

@media (max-width: 992px) {
  .main .icons .service {
    width: 47%;
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .main .icons .service {
    display: block;
    width: 100%;
  }
}

.main .icons .service img {
  display: inline-block;
  vertical-align: top;
  width: 20px;
}

.main .icons .service .text {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  width: 85%;
}

.main .icons .service .text h5 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.main .icons .service .text p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.main .icons .service {
  margin-right: 10px;
}

.main .icons .service:last-child {
  margin-right: 0;
}

.design {
  height: 100vh;
  background-image: url(./images/unique_design_bckgr.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.design .main {
  padding-top: 3rem;
}

.what-container {
  width: 100%;
  margin: 3rem auto;
  font-size: 0;
  position: relative;
  height: 40vh;
}

@media (max-width: 1200px) {
  .what-container {
    height: 30vh;
  }
}

@media (max-width: 992px) {
  .what-container {
    height: auto;
  }
}

.what-container .what-photo {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  position: absolute;
  left: 0;
}

@media (max-width: 992px) {
  .what-container .what-photo {
    display: block;
    width: 100%;
    position: unset;
  }
}

.what-container .what-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.what-container .drop-menu {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  position: absolute;
  overflow: hidden;
  text-align: left;
}

@media (max-width: 992px) {
  .what-container .drop-menu {
    display: block;
    width: 100%;
    position: unset;
    padding-left: 0;
    margin-top: 2rem;
  }
}

.what-container .drop-menu .accordion {
  margin-bottom: 10px;
  border: 1px solid var(--lightGrey);
  display: block;
  cursor: pointer;
  position: relative;
}

.what-container .drop-menu .accordion .accordion-header {
  padding: 0.5rem;
}

.what-container .drop-menu .accordion .accordion-header .accordion-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.what-container .drop-menu .accordion .accordion-header .accordion-icon {
  width: 15px;
  margin-right: 5px;
}

.what-container .drop-menu .accordion input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.what-container .drop-menu .accordion input:checked ~ div {
  display: block;
}

.what-container .drop-menu .accordion input:checked ~ .accordion-close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.what-container .drop-menu .accordion .accordion-close {
  position: absolute;
  top: 11px;
  right: 5px;
  width: 10px;
}

.what-container .drop-menu .accordion .accordion-body {
  display: none;
  border-top: 1px solid var(--lightGrey);
  font-size: 1rem;
  padding: 1rem;
  max-height: 100px;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: var(--grey);
  scrollbar-width: thin;
  scrollbar-color: var(--green) var(--lightGrey);
}

@media (max-width: 768px) {
  .what-container .drop-menu .accordion .accordion-body {
    max-height: 80px;
  }
}

.slideshow-container {
  background-color: var(--backgroundGrey);
  width: 100%;
}

.slideshow-container .slides {
  position: relative;
}

.slideshow-container .slides .citation-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 40px;
}

.slideshow-container .slides .citation-container img {
  display: inline-block;
  vertical-align: top;
  width: 15%;
}

@media (max-width: 1200px) {
  .slideshow-container .slides .citation-container img {
    width: 20%;
  }
}

@media (max-width: 992px) {
  .slideshow-container .slides .citation-container img {
    width: 25%;
  }
}

.slideshow-container .slides .citation-container .citation {
  display: inline-block;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
}

.slideshow-container .slides .citation-container .citation .cite {
  font-style: italic;
  color: var(--grey);
  text-align: left;
  font-size: 1.3rem;
  line-height: 2rem;
  width: 100%;
}

.slideshow-container .slides .citation-container .citation .author {
  text-align: left;
  position: relative;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.slideshow-container .slides .citation-container .citation .author hr {
  display: inline-block;
  vertical-align: middle;
}

.slideshow-container .slides .citation-container .citation .author hr.hr-pinky {
  margin: 0;
}

.slideshow-container .slides .citation-container .citation .author div {
  display: inline-block;
}

@media (max-width: 1200px) {
  .slideshow-container .slides .citation-container .citation {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .slideshow-container .slides .citation-container .citation {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .slideshow-container .slides .citation-container .citation {
    display: block;
    width: 100%;
    padding-top: 2rem;
  }
}

.slideshow-container .slides .prev,
.slideshow-container .slides .next {
  cursor: pointer;
  position: absolute;
  padding-top: 4.5rem;
  color: var(--grey);
  font-size: 1rem;
  top: 14%;
}

.slideshow-container .slides .next {
  right: 0;
}

.slideshow-container .slides .prev {
  left: 0;
}

@media (max-width: 992px) {
  .second {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .team-cont-2 {
    display: block;
    width: 100%;
  }
}

.team .meet-us .text-people {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: var(--white);
  font-size: 0.5rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(0deg, #fce38a 0%, rgba(243, 129, 129, 0.9) 100%);
}

.team .meet-us .text-people .social-icons-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.team .meet-us .text-people .social-icons-container .social-icons {
  width: 80%;
  font-size: 0;
  border: 0.1px 0 0.1px solid var(--pinky);
  position: absolute;
  top: 45%;
  left: 10%;
}

.team .meet-us .text-people .social-icons-container .social-icons div {
  width: 20%;
  height: 20%;
  display: inline-block;
  background-color: var(--wordHoover);
  font-size: 0.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  border-right: 0.1px solid var(--pinky);
}

.team .meet-us .text-people .social-icons-container .social-icons div img {
  width: 100%;
  aspect-ratio: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10%;
  vertical-align: middle;
}

.team .meet-us .text-people .social-icons-container .social-icons div.insta {
  border-right: none;
}

.team .meet-us .text-people .social-icons-container .social-icons div .fb {
  -webkit-filter: brightness(0) saturate(100%) invert(80%) sepia(23%) saturate(3746%) hue-rotate(304deg) brightness(95%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(80%) sepia(23%) saturate(3746%) hue-rotate(304deg) brightness(95%) contrast(101%);
}

.team .meet-us .text-people .social-icons-container .social-icons div:hover {
  background-color: var(--pinky);
}

.team .meet-us .text-people .social-icons-container .social-icons div:hover img {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(203%) contrast(503%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(203%) contrast(503%);
}

.team .meet-us .text-people .social-icons-container .social-icons div:hover .fb {
  -webkit-filter: invert(57%) sepia(58%) saturate(200%) hue-rotate(312deg) brightness(606%) contrast(90%);
          filter: invert(57%) sepia(58%) saturate(200%) hue-rotate(312deg) brightness(606%) contrast(90%);
}

.team .team:hover .text-people {
  opacity: 1;
}

.hipster-container {
  margin: 6rem 0;
  background-color: var(--backgroundGrey);
  width: 100%;
}

.hipster-container .hipster-logos {
  width: 62.5%;
  margin: 0 auto;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hipster-container .hipster-logos img {
  width: 100%;
}

.photo-container {
  margin: 3rem 0;
  width: 100%;
  overflow: hidden;
  font-size: 0;
}

.photo-container div {
  display: inline-block;
  width: 50%;
  position: relative;
}

.photo-container div .content {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: var(--white);
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo-container div .content .text {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  width: 100%;
}

.photo-container div .content .text .icon {
  width: 30px;
}

.photo-container div .content .text h3 {
  margin: 1rem;
}

.photo-container div .content .text p {
  font-style: italic;
}

.photo-container div img {
  width: 100%;
}

.photo-container .photos:hover .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(0deg, #fce38a 0%, rgba(243, 129, 129, 0.9) 100%);
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.photo-container .photos-right {
  position: relative;
}

.photo-container .photos-right .photo6,
.photo-container .photos-right .photo7 {
  position: absolute;
}

.photo-container .photos-right .photo7 {
  top: 50%;
}

@media (max-width: 992px) {
  .photo-container .photos-right {
    display: block;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .photo-container .photos-left {
    display: block;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .photo-container .photos {
    display: block;
    width: 100%;
  }
}

.photo-container .photo5 {
  height: 100%;
}

.slide-cont-2 {
  background: none;
}

.happy-clients {
  padding: 40px;
  background-image: url(./images/what-people-say-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.happy-clients .main {
  padding-top: 3rem;
}

.happy-clients .people-say {
  width: 62.5%;
  margin: 3rem auto;
  text-align: center;
  font-size: 0rem;
  line-height: 1.5rem;
}

.happy-clients .people-say .ppl-container {
  width: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding-bottom: 2rem;
}

.happy-clients .people-say .ppl-container .people-img {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

@media (max-width: 576px) {
  .happy-clients .people-say .ppl-container .people-img {
    display: block;
    margin: 0 auto;
  }
}

.happy-clients .people-say .ppl-container .people-img img {
  width: 100%;
}

.happy-clients .people-say .ppl-container .people-text {
  display: inline-block;
  width: 75%;
  font-size: 1.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
  vertical-align: top;
}

@media (max-width: 576px) {
  .happy-clients .people-say .ppl-container .people-text {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

.happy-clients .people-say .ppl-container .people-text h3 {
  font-weight: bold;
}

.happy-clients .people-say .ppl-container .people-text p {
  padding: 0.5rem 0;
}

.happy-clients .people-say .ppl-container .people-text .roboto {
  font-style: italic;
}

.happy-clients .people-say .ppl-container .people-text .description {
  font-style: normal;
  font-size: 1rem;
  color: var(--grey);
}

.happy-clients .people-say .ppl-container .people-text hr {
  margin: 0.3rem 0;
}

@media (max-width: 576px) {
  .happy-clients .people-say .ppl-container .people-text hr {
    margin: 0.3rem auto;
  }
}

@media (max-width: 992px) {
  .happy-clients .people-say .ppl-container {
    display: block;
    width: 100%;
  }
}

.happy-clients .people-say .ppl-left {
  padding-right: 2rem;
}

@media (max-width: 992px) {
  .happy-clients .people-say .ppl-left {
    padding-right: 0;
  }
}

.happy-clients .people-say .ppl-right {
  padding-left: 2rem;
}

@media (max-width: 992px) {
  .happy-clients .people-say .ppl-right {
    padding-left: 0;
  }
}

.blog-container {
  font-size: 0;
}

.blog-container .single-blog {
  font-size: 1rem;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 992px) {
  .blog-container .single-blog {
    display: block;
    width: 100%;
  }
}

.blog-container .single-blog .blog-image {
  position: relative;
  width: 100%;
}

.blog-container .single-blog .blog-image img {
  width: 100%;
}

.blog-container .single-blog .blog-image .date {
  background-color: var(--green);
  color: var(--white);
  padding: 0.8rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  vertical-align: middle;
  top: 50%;
  left: -5%;
}

@media (max-width: 992px) {
  .blog-container .single-blog .blog-image .date {
    top: 65%;
    left: -3%;
  }
}

.blog-container .single-blog .blog-image .date .cap {
  font-weight: bold;
  font-size: 2rem;
}

.blog-container .single-blog .blog-image .date .roboto {
  font-size: 1rem;
  color: var(--white);
  font-style: italic;
}

.blog-container .single-blog .blog-text {
  text-align: left;
}

.blog-container .single-blog .blog-text h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.blog-container .single-blog .blog-text > p {
  font-size: 0.9rem;
}

.blog-container .single-blog .blog-text hr {
  border: 0.1px solid var(--lightGrey);
}

.blog-container .single-blog .blog-text .stats img {
  display: inline-block;
  height: 0.8rem;
  vertical-align: middle;
}

.blog-container .single-blog .blog-text .stats p {
  display: inline-block;
  color: var(--lightGrey);
  padding-right: 0.5rem;
  font-size: 0.8rem;
}

.blog-container .blog2 {
  margin: 0 5%;
}

@media (max-width: 992px) {
  .blog-container .blog2 {
    margin: 3rem 0;
  }
}

.map-background {
  margin: 5rem 0;
  width: 100%;
  background-image: url(./images/open-map-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map-background .main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.map-background .main img {
  height: 30px;
  padding: 1;
}

.map-background .main .cap {
  color: var(--pinky);
  padding: 1rem;
}

.map-background .main hr {
  margin: 0 auto;
}

.end-section {
  font-size: 0;
  overflow: hidden;
  text-align: left;
  padding-top: 0.2rem;
}

.end-section .mogo-section {
  vertical-align: top;
  display: inline-block;
  width: 30%;
}

@media (max-width: 1200px) {
  .end-section .mogo-section {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
  }
}

.end-section .mogo-section h1 {
  color: var(--lightGrey);
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.end-section .mogo-section p {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.end-section .mogo-section .follow {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.end-section .mogo-section .follow span {
  font-weight: bold;
  padding-right: 0.2rem;
}

.end-section .mogo-section hr {
  border: 0.1px solid var(--lightGrey);
  margin: 0.8rem 0;
}

.end-section .mogo-section .follow-social {
  width: 100%;
}

.end-section .mogo-section .follow-social p {
  margin-top: 0;
  display: inline-block;
  font-style: italic;
}

.end-section .mogo-section .follow-social img {
  padding-left: 1rem;
  display: inline-block;
  height: 1.2rem;
}

.end-section .mogo-section form {
  padding-top: 2rem;
}

.end-section .mogo-section form .roboto {
  font-size: 1.2rem;
  font-style: italic;
  padding: 0.5rem;
  color: var(--lightGrey);
  border: 0.5px solid var(--lightGrey);
  width: 45%;
}

@media (max-width: 1200px) {
  .end-section .mogo-section form .roboto {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .end-section .mogo-section form .roboto {
    width: 40%;
  }
}

.end-section .mogo-section form .cap {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: var(--white);
  border: 0.5px solid var(--green);
  background-color: var(--green);
  width: 35%;
}

@media (max-width: 1200px) {
  .end-section .mogo-section form .cap {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .end-section .mogo-section form .cap {
    width: 30%;
  }
}

.end-section .blogs-section {
  vertical-align: top;
  display: inline-block;
  margin: 0 5%;
  width: 30%;
}

@media (max-width: 1200px) {
  .end-section .blogs-section {
    width: 48%;
    padding-right: 2%;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .end-section .blogs-section {
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 3rem;
  }
}

.end-section .blogs-section .blogs {
  color: black;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}

.end-section .blogs-section .blog-container {
  width: 100%;
  padding-bottom: 1rem;
}

@media (max-width: 576px) {
  .end-section .blogs-section .blog-container {
    margin-bottom: 3rem;
  }
}

.end-section .blogs-section .blog-container .image {
  width: 45%;
  display: inline-block;
}

@media (max-width: 576px) {
  .end-section .blogs-section .blog-container .image {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.end-section .blogs-section .blog-container .image img {
  width: 100%;
  vertical-align: middle;
}

.end-section .blogs-section .blog-container .text {
  width: 55%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  padding-left: 1rem;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .end-section .blogs-section .blog-container .text {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}

.end-section .blogs-section .blog-container .text .roboto {
  font-style: italic;
  font-size: 1rem;
}

.end-section .insta-section {
  vertical-align: top;
  display: inline-block;
  width: 30%;
}

@media (max-width: 1200px) {
  .end-section .insta-section {
    width: 48%;
    padding-left: 2%;
  }
}

@media (max-width: 992px) {
  .end-section .insta-section {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}

.end-section .insta-section .instagram {
  color: black;
  font-size: 1;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2rem;
}

.end-section .insta-section img {
  width: 100%;
}

.end-section .insta-section .roboto {
  font-style: italic;
  font-size: 1rem;
}

.foot-hr {
  border: 0.1px solid var(--lightGrey);
  margin: 1rem 0;
}

.footer p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.footer p .copyright {
  font-weight: normal;
}

.footer p .name {
  color: var(--pinky);
}
/*# sourceMappingURL=style.css.map */